src/main/resources/bankwallet.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns:tns="http://uws.provider.com/"
           targetNamespace="http://uws.provider.com/"
           elementFormDefault="qualified">

    <!-- Base Complex Types -->

    <!-- GenericAuthRequest - Base type for all authenticated requests -->
    <xs:complexType name="GenericAuthRequest">
        <xs:sequence>
            <xs:element name="username" type="xs:string"/>
            <xs:element name="password" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>

    <!-- ErrorResponse - Base type for all responses -->
    <xs:complexType name="ErrorResponse">
        <xs:sequence>
            <xs:element name="status" type="xs:int"/>
            <xs:element name="errorMsg" type="xs:string"/>
            <xs:element name="timeStamp" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>

    <!-- Parameter - Key-value pair -->
    <xs:complexType name="Parameter">
        <xs:sequence>
            <xs:element name="paramKey" type="xs:string"/>
            <xs:element name="paramValue" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>

    <!-- TransactionStatement - Transaction details -->
    <xs:complexType name="TransactionStatement">
        <xs:sequence>
            <xs:element name="amount" type="xs:long" nillable="true"/>
            <xs:element name="providerTrnId" type="xs:long" nillable="true"/>
            <xs:element name="transactionId" type="xs:long" nillable="true"/>
            <xs:element name="transactionTime" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>

    <!-- Root Elements for SOAP Messages - These will get @XmlRootElement -->

    <!-- RegisterUserRequest -->
    <xs:element name="RegisterUserRequest">
        <xs:complexType>
            <xs:complexContent>
                <xs:extension base="tns:GenericAuthRequest">
                    <xs:sequence>
                        <xs:element name="phoneNumber" type="xs:string"/>
                    </xs:sequence>
                </xs:extension>
            </xs:complexContent>
        </xs:complexType>
    </xs:element>

    <!-- RegisterUserResponse -->
    <xs:element name="RegisterUserResponse">
        <xs:complexType>
            <xs:complexContent>
                <xs:extension base="tns:ErrorResponse">
                    <xs:sequence>
                        <xs:element name="parameters" type="tns:Parameter" minOccurs="0" maxOccurs="unbounded"/>
                        <xs:element name="username" type="xs:string" minOccurs="0"/>
                        <xs:element name="phoneNumber" type="xs:string" minOccurs="0"/>
                        <xs:element name="walletNumber" type="xs:string" minOccurs="0"/>
                    </xs:sequence>
                </xs:extension>
            </xs:complexContent>
        </xs:complexType>
    </xs:element>

    <!-- ChangePasswordRequest -->
    <xs:element name="ChangePasswordRequest">
        <xs:complexType>
            <xs:complexContent>
                <xs:extension base="tns:GenericAuthRequest">
                    <xs:sequence>
                        <xs:element name="newPassword" type="xs:string"/>
                    </xs:sequence>
                </xs:extension>
            </xs:complexContent>
        </xs:complexType>
    </xs:element>

    <!-- ChangePasswordResponse -->
    <xs:element name="ChangePasswordResponse">
        <xs:complexType>
            <xs:complexContent>
                <xs:extension base="tns:ErrorResponse">
                    <xs:sequence>
                        <!-- No additional fields, inherits from ErrorResponse -->
                    </xs:sequence>
                </xs:extension>
            </xs:complexContent>
        </xs:complexType>
    </xs:element>

    <!-- PerformTransactionRequest -->
    <xs:element name="PerformTransactionRequest">
        <xs:complexType>
            <xs:complexContent>
                <xs:extension base="tns:GenericAuthRequest">
                    <xs:sequence>
                        <xs:element name="amount" type="xs:long" nillable="true"/>
                        <xs:element name="parameters" type="tns:Parameter" minOccurs="0" maxOccurs="unbounded"/>
                        <xs:element name="serviceId" type="xs:long" minOccurs="0"/>
                        <xs:element name="transactionId" type="xs:long" minOccurs="0"/>
                    </xs:sequence>
                </xs:extension>
            </xs:complexContent>
        </xs:complexType>
    </xs:element>

    <!-- PerformTransactionResponse -->
    <xs:element name="PerformTransactionResponse">
        <xs:complexType>
            <xs:complexContent>
                <xs:extension base="tns:ErrorResponse">
                    <xs:sequence>
                        <xs:element name="parameters" type="tns:Parameter" minOccurs="0" maxOccurs="unbounded"/>
                        <xs:element name="providerTrnId" type="xs:long" minOccurs="0"/>
                    </xs:sequence>
                </xs:extension>
            </xs:complexContent>
        </xs:complexType>
    </xs:element>

    <!-- CheckTransactionRequest -->
    <xs:element name="CheckTransactionRequest">
        <xs:complexType>
            <xs:complexContent>
                <xs:extension base="tns:GenericAuthRequest">
                    <xs:sequence>
                        <xs:element name="serviceId" type="xs:long" minOccurs="0"/>
                        <xs:element name="transactionId" type="xs:long" nillable="true"/>
                    </xs:sequence>
                </xs:extension>
            </xs:complexContent>
        </xs:complexType>
    </xs:element>

    <!-- CheckTransactionResponse -->
    <xs:element name="CheckTransactionResponse">
        <xs:complexType>
            <xs:complexContent>
                <xs:extension base="tns:ErrorResponse">
                    <xs:sequence>
                        <xs:element name="parameters" type="tns:Parameter" minOccurs="0" maxOccurs="unbounded"/>
                        <xs:element name="providerTrnId" type="xs:long" minOccurs="0"/>
                    </xs:sequence>
                </xs:extension>
            </xs:complexContent>
        </xs:complexType>
    </xs:element>

    <!-- CancelTransactionRequest -->
    <xs:element name="CancelTransactionRequest">
        <xs:complexType>
            <xs:complexContent>
                <xs:extension base="tns:GenericAuthRequest">
                    <xs:sequence>
                        <xs:element name="serviceId" type="xs:long" minOccurs="0"/>
                        <xs:element name="transactionId" type="xs:long" minOccurs="0"/>
                    </xs:sequence>
                </xs:extension>
            </xs:complexContent>
        </xs:complexType>
    </xs:element>

    <!-- CancelTransactionResponse -->
    <xs:element name="CancelTransactionResponse">
        <xs:complexType>
            <xs:complexContent>
                <xs:extension base="tns:ErrorResponse">
                    <xs:sequence>
                        <xs:element name="parameters" type="tns:Parameter" minOccurs="0" maxOccurs="unbounded"/>
                    </xs:sequence>
                </xs:extension>
            </xs:complexContent>
        </xs:complexType>
    </xs:element>

    <!-- GetStatementRequest -->
    <xs:element name="GetStatementRequest">
        <xs:complexType>
            <xs:complexContent>
                <xs:extension base="tns:GenericAuthRequest">
                    <xs:sequence>
                        <xs:element name="serviceId" type="xs:long" nillable="true"/>
                        <xs:element name="dateFrom" type="xs:string"/>
                        <xs:element name="dateTo" type="xs:string"/>
                    </xs:sequence>
                </xs:extension>
            </xs:complexContent>
        </xs:complexType>
    </xs:element>

    <!-- GetStatementResponse -->
    <xs:element name="GetStatementResponse">
        <xs:complexType>
            <xs:complexContent>
                <xs:extension base="tns:ErrorResponse">
                    <xs:sequence>
                        <xs:element name="transactions" type="tns:TransactionStatement" minOccurs="0" maxOccurs="unbounded"/>
                    </xs:sequence>
                </xs:extension>
            </xs:complexContent>
        </xs:complexType>
    </xs:element>

    <!-- GetInformationRequest -->
    <xs:element name="GetInformationRequest">
        <xs:complexType>
            <xs:complexContent>
                <xs:extension base="tns:GenericAuthRequest">
                    <xs:sequence>
                        <xs:element name="parameters" type="tns:Parameter" minOccurs="0" maxOccurs="unbounded"/>
                        <xs:element name="serviceId" type="xs:long" minOccurs="0"/>
                    </xs:sequence>
                </xs:extension>
            </xs:complexContent>
        </xs:complexType>
    </xs:element>

    <!-- GetInformationResponse -->
    <xs:element name="GetInformationResponse">
        <xs:complexType>
            <xs:complexContent>
                <xs:extension base="tns:ErrorResponse">
                    <xs:sequence>
                        <xs:element name="parameters" type="tns:Parameter" minOccurs="0" maxOccurs="unbounded"/>
                    </xs:sequence>
                </xs:extension>
            </xs:complexContent>
        </xs:complexType>
    </xs:element>

    <xs:element name="GeneralErrorResponse">
        <xs:complexType>
            <xs:complexContent>
                <xs:extension base="tns:ErrorResponse">
                </xs:extension>
            </xs:complexContent>
        </xs:complexType>
    </xs:element>

</xs:schema>