src/main/resources/bankwallet.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns:tns="http://uws.provider.com/"
           targetNamespace="http://uws.provider.com/"
           elementFormDefault="qualified">

    <!-- Base Complex Types -->

    <!-- GenericAuthRequest - Base type for all authenticated requests -->
    <xs:complexType name="GenericAuthRequest">
        <xs:sequence>
            <xs:element name="username" type="xs:string"/>
            <xs:element name="password" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>

    <!-- ErrorResponse - Base type for all responses -->
    <xs:complexType name="ErrorResponse">
        <xs:sequence>
            <xs:element name="status" type="xs:int"/>
            <xs:element name="errorMsg" type="xs:string"/>
            <xs:element name="timeStamp" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>

    <!-- Parameter - Key-value pair -->
    <xs:complexType name="Parameter">
        <xs:sequence>
            <xs:element name="paramKey" type="xs:string"/>
            <xs:element name="paramValue" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>

    <!-- TransactionStatement - Transaction details -->
    <xs:complexType name="TransactionStatement">
        <xs:sequence>
            <xs:element name="amount" type="xs:long"/>
            <xs:element name="providerTrnId" type="xs:long"/>
            <xs:element name="transactionId" type="xs:long"/>
            <xs:element name="transactionTime" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>

    <!-- Request Types -->

    <!-- RegisterUserRequest -->
    <xs:complexType name="RegisterUserRequest">
        <xs:complexContent>
            <xs:extension base="tns:GenericAuthRequest">
                <xs:sequence>
                    <xs:element name="phoneNumber" type="xs:string"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <!-- ChangePasswordRequest -->
    <xs:complexType name="ChangePasswordRequest">
        <xs:complexContent>
            <xs:extension base="tns:GenericAuthRequest">
                <xs:sequence>
                    <xs:element name="newPassword" type="xs:string"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <!-- PerformTransactionRequest -->
    <xs:complexType name="PerformTransactionRequest">
        <xs:complexContent>
            <xs:extension base="tns:GenericAuthRequest">
                <xs:sequence>
                    <xs:element name="amount" type="xs:long"/>
                    <xs:element name="parameters" type="tns:Parameter" minOccurs="0" maxOccurs="unbounded"/>
                    <xs:element name="serviceId" type="xs:long" minOccurs="0"/>
                    <xs:element name="transactionId" type="xs:long" minOccurs="0"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <!-- CheckTransactionRequest -->
    <xs:complexType name="CheckTransactionRequest">
        <xs:complexContent>
            <xs:extension base="tns:GenericAuthRequest">
                <xs:sequence>
                    <xs:element name="serviceId" type="xs:long" minOccurs="0"/>
                    <xs:element name="transactionId" type="xs:long"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <!-- CancelTransactionRequest -->
    <xs:complexType name="CancelTransactionRequest">
        <xs:complexContent>
            <xs:extension base="tns:GenericAuthRequest">
                <xs:sequence>
                    <xs:element name="serviceId" type="xs:long" minOccurs="0"/>
                    <xs:element name="transactionId" type="xs:long" minOccurs="0"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <!-- GetStatementRequest -->
    <xs:complexType name="GetStatementRequest">
        <xs:complexContent>
            <xs:extension base="tns:GenericAuthRequest">
                <xs:sequence>
                    <xs:element name="serviceId" type="xs:long"/>
                    <xs:element name="dateFrom" type="xs:string"/>
                    <xs:element name="dateTo" type="xs:string"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <!-- GetInformationRequest -->
    <xs:complexType name="GetInformationRequest">
        <xs:complexContent>
            <xs:extension base="tns:GenericAuthRequest">
                <xs:sequence>
                    <xs:element name="parameters" type="tns:Parameter" minOccurs="0" maxOccurs="unbounded"/>
                    <xs:element name="serviceId" type="xs:long" minOccurs="0"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <!-- Response Types -->

    <!-- RegisterUserResponse -->
    <xs:complexType name="RegisterUserResponse">
        <xs:complexContent>
            <xs:extension base="tns:ErrorResponse">
                <xs:sequence>
                    <xs:element name="parameters" type="tns:Parameter" minOccurs="0" maxOccurs="unbounded"/>
                    <xs:element name="username" type="xs:string" minOccurs="0"/>
                    <xs:element name="phoneNumber" type="xs:string" minOccurs="0"/>
                    <xs:element name="walletNumber" type="xs:string" minOccurs="0"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <!-- ChangePasswordResponse -->
    <xs:complexType name="ChangePasswordResponse">
        <xs:complexContent>
            <xs:extension base="tns:ErrorResponse">
                <xs:sequence>
                    <!-- No additional fields, inherits from ErrorResponse -->
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <!-- PerformTransactionResponse -->
    <xs:complexType name="PerformTransactionResponse">
        <xs:complexContent>
            <xs:extension base="tns:ErrorResponse">
                <xs:sequence>
                    <xs:element name="parameters" type="tns:Parameter" minOccurs="0" maxOccurs="unbounded"/>
                    <xs:element name="providerTrnId" type="xs:long" minOccurs="0"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <!-- CheckTransactionResponse -->
    <xs:complexType name="CheckTransactionResponse">
        <xs:complexContent>
            <xs:extension base="tns:ErrorResponse">
                <xs:sequence>
                    <xs:element name="parameters" type="tns:Parameter" minOccurs="0" maxOccurs="unbounded"/>
                    <xs:element name="providerTrnId" type="xs:long" minOccurs="0"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <!-- CancelTransactionResponse -->
    <xs:complexType name="CancelTransactionResponse">
        <xs:complexContent>
            <xs:extension base="tns:ErrorResponse">
                <xs:sequence>
                    <xs:element name="parameters" type="tns:Parameter" minOccurs="0" maxOccurs="unbounded"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <!-- GetStatementResponse -->
    <xs:complexType name="GetStatementResponse">
        <xs:complexContent>
            <xs:extension base="tns:ErrorResponse">
                <xs:sequence>
                    <xs:element name="transactions" type="tns:TransactionStatement" minOccurs="0" maxOccurs="unbounded"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <!-- GetInformationResponse -->
    <xs:complexType name="GetInformationResponse">
        <xs:complexContent>
            <xs:extension base="tns:ErrorResponse">
                <xs:sequence>
                    <xs:element name="parameters" type="tns:Parameter" minOccurs="0" maxOccurs="unbounded"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <!-- Root Elements for SOAP Messages -->
    <xs:element name="RegisterUserRequest" type="tns:RegisterUserRequest"/>
    <xs:element name="RegisterUserResponse" type="tns:RegisterUserResponse"/>

    <xs:element name="ChangePasswordRequest" type="tns:ChangePasswordRequest"/>
    <xs:element name="ChangePasswordResponse" type="tns:ChangePasswordResponse"/>

    <xs:element name="PerformTransactionRequest" type="tns:PerformTransactionRequest"/>
    <xs:element name="PerformTransactionResponse" type="tns:PerformTransactionResponse"/>

    <xs:element name="CheckTransactionRequest" type="tns:CheckTransactionRequest"/>
    <xs:element name="CheckTransactionResponse" type="tns:CheckTransactionResponse"/>

    <xs:element name="CancelTransactionRequest" type="tns:CancelTransactionRequest"/>
    <xs:element name="CancelTransactionResponse" type="tns:CancelTransactionResponse"/>

    <xs:element name="GetStatementRequest" type="tns:GetStatementRequest"/>
    <xs:element name="GetStatementResponse" type="tns:GetStatementResponse"/>

    <xs:element name="GetInformationRequest" type="tns:GetInformationRequest"/>
    <xs:element name="GetInformationResponse" type="tns:GetInformationResponse"/>

</xs:schema>